@font-face {
    font-family: General;
    src: url(general);
}
@font-face {
    font-family: Strong;
    src: url(strong);
}
body {
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'General';
}
div.content {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    min-height: 400px;
}
div.contentresponsive {
    width: 90vw; 
    max-width: 600px; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto;
    
    background-color: #f00;
        
}
a {
    text-decoration: none;
    color: #05f;
}


